@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>To access questions, after the above link add "/DropDown" and press enter.</p>
    <p>The link should look something like this: "https://localhost:44383/DropDown"</p>
</div>
